
html {
	color: white;
	background: url(/images/tile1.png) #192f77;
	cursor: url(/images/cursor.png), auto;
	text-shadow: 2px 2px black;
	image-rendering: pixelated;
}

body {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif, times;
	text-align: center;
	margin: 0;
	padding: 0;
}

.pixels {
	image-rendering: pixelated;
}

a {
	color: yellow;
}

a:active {
	color: #7e7e00;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#column1 {
	float: left;
	margin-top: 47px;
	width: 300px;
	position: fixed;
	background-image: url(/images/tile2.png);
	height: 100%;
	overflow-y: auto;
}

#column2 {
	margin-top: 57px;
	font-size: 20px;
	display: block;
	margin-left: 300px;
	float: right;
	width: calc(100% - 320px);
	padding-right: 10px;
}

@media screen and (max-width: 700px) {
	#column1 {
		width: 100%;
		height: auto;
		position: relative;
		padding-bottom: 20px;
	}
	#column2 {
		margin-top: 30px;
		width: 100%;
		margin-left: 10px;
		padding-top: 0;
		padding-right: 0px;
	}
	.logo {
		margin-top: 20px;
	}
}

.window {
	background: url(/images/tile4.png) black;
	border: solid 3px #3b3b40;
	margin: 10px auto;
	max-width: 1000px;
	box-sizing: border-box;
}

.logo {
	width: 100%;
	max-width: 1000px;
	margin-top: 15px;
}


/* Shows item listing stuff */
.descriptionbox {
	background: url(/images/tile4.png) black;
	font-size: 20px;
	color: white;
	margin: 15px;
}

.whitelink a {
	color: white;
}

.whitelink a:hover {
	text-decoration: underline;
}

.animeposter {
	image-rendering: auto;
	max-width: 50vw;
}

ul, ol {
	list-style-type: square;
}

.footnote {
	color: darkgrey;
}